In [163]:
import numpy as np
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt

In [164]:
pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opendatasets in /usr/local/lib/python3.7/dist-packages (0.1.22)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.64.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2022.6.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)

In [165]:
import opendatasets as od

In [166]:
od.download("https://www.kaggle.com/datasets/chancev/carsforsale")

Skipping, found downloaded files in "./carsforsale" (use force=True to force download)

In [167]:
import pandas as pd

In [168]:
df = pd.read_csv('./carsforsale/cars_raw.csv', index_col=['Price'])

del df["VIN"]
del df["Stock#"]
del df["InteriorColor"]
del df["StreetName"]
del df["SellerName"]
del df["Engine"]

df.drop(df[df.Zipcode.str.isnumeric()== False].index, inplace = True)

In [169]:
from sklearn.preprocessing import OrdinalEncoder

enc = OrdinalEncoder()
df[["Make"]] = enc.fit_transform(df[["Make"]])
df[["SellerType"]] = enc.fit_transform(df[["SellerType"]])
df[["State"]] = enc.fit_transform(df[["State"]])
df[["DealType"]] = enc.fit_transform(df[["DealType"]])
df[["ExteriorColor"]] = enc.fit_transform(df[["ExteriorColor"]])
df[["Drivetrain"]] = enc.fit_transform(df[["Drivetrain"]])
df[["FuelType"]] = enc.fit_transform(df[["FuelType"]])
df[["Transmission"]] = enc.fit_transform(df[["Transmission"]])
df[["Model"]] = enc.fit_transform(df[["Model"]])

In [170]:
for i in range(df["Used/New"].shape[0]):
  if df["Used/New"][i] != "New":
    df["Used/New"][i] = 0
  else:
    df["Used/New"][i] = 1


df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.fillna(999, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [171]:
df_train = df.iloc[:(int)(df.shape[0]*0.8), :]
df_test = df.iloc[(int)(df.shape[0]*0.8):, :]

df_train.head(10)

,Year,Make,Model,Used/New,ConsumerRating,ConsumerReviews,SellerType,SellerRating,SellerReviews,State,...,ValueForMoneyRating,ExteriorStylingRating,ReliabilityRating,ExteriorColor,Drivetrain,MinMPG,MaxMPG,FuelType,Transmission,Mileage
Price,,,,,,,,,,,,,,,,,,,,,
"$39,998",2019,38.0,1048.0,0,4.6,45,0.0,3.3,3,4.0,...,4.4,4.6,4.7,692.0,6.0,19,27,7.0,47.0,29403
"$49,985",2018,12.0,427.0,0,4.8,817,0.0,4.8,131,4.0,...,4.6,4.8,4.7,758.0,4.0,19,24,7.0,7.0,32929
"$41,860",2017,33.0,4.0,0,4.7,495,0.0,4.6,249,4.0,...,4.6,4.8,4.7,368.0,4.0,15,21,7.0,47.0,23173
"$28,500",2021,15.0,151.0,0,5.0,36,0.0,4.6,284,32.0,...,5.0,5.0,5.0,380.0,6.0,29,35,7.0,68.0,10598
"$49,000",2020,23.0,896.0,0,4.8,76,0.0,4.8,4755,32.0,...,4.7,4.8,4.9,313.0,6.0,20,27,7.0,47.0,28137
"$23,541",2012,38.0,50.0,0,4.7,34,0.0,4.4,1071,4.0,...,4.6,4.9,4.9,72.0,8.0,17,23,7.0,14.0,105469
"$20,995",2017,15.0,548.0,0,4.6,200,0.0,4.4,2695,4.0,...,4.5,4.7,4.8,544.0,6.0,28,34,7.0,68.0,10458
"$18,985",2014,28.0,345.0,0,4.8,176,0.0,4.4,2695,4.0,...,4.6,4.9,4.8,477.0,8.0,21,30,7.0,35.0,58157
"$44,299",2021,15.0,806.0,0,4.8,63,0.0,4.9,237,3.0,...,4.7,4.7,4.8,650.0,2.0,19,26,7.0,54.0,14445
"$46,773",2020,9.0,280.0,0,4.8,56,0.0,4.3,1366,3.0,...,4.7,4.9,4.9,870.0,8.0,15,24,7.0,47.0,25642

In [172]:
x_train = df_train.iloc[ : , 1:]
y_train = df_train.iloc[ : , :1]

x_test = df_test.iloc[ : , 1:]
y_test = df_test.iloc[ : , :1]

x_train.applymap(np.isreal)

,Make,Model,Used/New,ConsumerRating,ConsumerReviews,SellerType,SellerRating,SellerReviews,State,Zipcode,...,ValueForMoneyRating,ExteriorStylingRating,ReliabilityRating,ExteriorColor,Drivetrain,MinMPG,MaxMPG,FuelType,Transmission,Mileage
Price,,,,,,,,,,,,,,,,,,,,,
"$39,998",True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
"$49,985",True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
"$41,860",True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
"$28,500",True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
"$49,000",True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"$19,779",True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
"$28,385",True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
"$53,500",True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
"$40,994",True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
"$13,995",True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True

In [175]:
regr_1 = DecisionTreeRegressor(max_depth=24)
regr_1.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=24)

In [176]:
from sklearn.metrics import mean_absolute_percentage_error
a = regr_1.predict(x_test)
mean_absolute_percentage_error(y_test, a)

0.00029450334889069996